.country{
    color: crimson;
    background-color: burlywood;
    border: 2px solid cadetblue;
    border-radius: 20px;
    padding: 10px;
}
.country img{
    /* height: 100px; */
    width: 150px;
}